<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../statics/css/styles.css">
    <title>BMI Calculator</title>
</head>
<body dir="rtl">
    <div class="main-container">
        <div id="calculator-container">
            <h1>محاسبه شاخص توده بدنی</h1>
            <div class="input-section">
                <label style="color: #408080;" for="height">قد (سانتی متر)</label>
                <input placeholder="مثال : 170" type="text" name="height" id="height-input">
            </div>
            <div class="input-section">
                <label style="color: #408080;"weight">وزن (کیلوگرم)</label>
            <input placeholder="مثال : 50" type="text" name="weight" id="weight-input">
            </div>
            <button id="submit" class="submit">محاسبه</button>
        </div>
        <p id="show-result"></p>
    </div>

<script src="../statics/js/script.js"></script>
</body>
</html>